@model JSShopOfShops.Models.User
@{
    ViewBag.Title = "RegisterUser";
}

<h2>Register New User</h2>

<form method="post" action="/Home/Summary">
    First Name <input type="text" placeholder="First Name" name="FirstName"  required />
    <br />
    Last Name <input type="text" placeholder="LastName" name="LastName" required />
    <br />
    Email <input type="email" placeholder="Email" name="Email" required />
    <br />
    Password <input type="password" placeholder="Password" name="Password" required />
   

    <input type="submit" class="btn-success" />

</form>


@*@using (Html.BeginForm())
{
    <br />
    <div>
        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", placeholder = "First Name" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(u => u.LastName, new { @class = "form-control", placeholder = "Last Name" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(u => u.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number" })
    </div>
    <br />
    <button class="btn btn-success" type="submit">Register</button>*@

}